workflows/02-2_Team6_Jarvis_Agent-FDIngestion.json
{
  "name": "Team6_Jarvis_Agent-FDIngestion",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "3ef6878c-ed4b-4b26-aaa3-626d5694857c",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO track_requests (ticker, status) \nVALUES ('Port8', 'PROCESSING') \nRETURNING request_id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        0
      ],
      "id": "fc72af47-1ebb-47e9-99ea-67b47dc4c130",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "0xg47XH7w5CugSut",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://13.60.49.89:8000/portfolio/json",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tickers\": [\"CROX\", \"URBN\", \"YETI\", \"BOOT\", \"SHAK\"],\n  \"start_date\": \"2023-01-01\",\n  \"end_date\": \"2025-12-24\",\n  \"interval\": \"1d\",\n  \"batch_id\": \"{{ $('Execute a SQL query').item.json.request_id }}\",\n  \"fetch_mode\": \"chart\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        416,
        0
      ],
      "id": "935c51fe-1324-4c9d-94e3-19784f2816f3",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO ticker_data (request_id, ticker, raw_ohlcv)\nVALUES ($1, $2, $3::jsonb)",
        "options": {
          "queryReplacement": "={{ $json.batch_id }}, {{ $json.ticker }}, {{ JSON.stringify($json.raw_ohlcv) }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        624,
        0
      ],
      "id": "3f1689c1-a96b-44e3-a1f1-7811ae80bd1c",
      "name": "Execute a SQL query1",
      "credentials": {
        "postgres": {
          "id": "0xg47XH7w5CugSut",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5a513680-ef44-494b-aa1d-39bee5c0fb63",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "67fa74f828e3f09fdb2689b6ab6b68927a4afd45322609e659ec43e33a23922f"
  },
  "id": "yh9l1XsrDKEhz1Ky",
  "tags": []
}